.fonsPlayer {
    position: relative;
    width: 400px;
    height: 250px;
    background: radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
    overflow: hidden;
    display: flex;
    justify-content: center;  /* Centrado horizontal */
    align-items: center; 
}
#play, #pause{
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
}
  
@keyframes ferVisible {
  0%{opacity: 0; transform: scale(1);}
  50%{opacity: 1; transform: scale(1.1);}
  100%{opacity: 0; transform: scale(1);}
}

.visible{
  animation: ferVisible 1s;
}

#bar{
  width: 400px;
}

@keyframes infinity {
 0%{
  transform: translate(0, 0);
 }
 25%{
  transform: translate(350px, 200px);
 }
 50%{
  transform: translate(350px, 0);
 }
 75%{
  transform: translate(0, 200px);
 }
 100%{
  transform: translate(0, 0);
 }
}
.circle{
  animation: infinity 4s linear infinite;

}
